<!DOCTYPE html>
<html lang="en"> 
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>"/>
    <title>To-Do Manager</title>
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <!-- <h1 style="text-align: center;">Todo Home page</h1> -->
    <% if (messages && messages.success && messages.success.length > 0) { %>
        <% messages.success.forEach(function(message) { %>
            <div class="alert alert-success">
                <%= message %>
            </div>
        <% }); %>
    <% } %>
    <% if (messages && messages.error && messages.error.length > 0) { %>
        <% messages.error.forEach(function(message) { %>
            <div class="alert alert-error">
                <%= message %>
            </div>
        <% }); %>
    <% } %>
    <div class="grid grid-cols-4">
        <div class="col-start-2 col-span-1">
            <%- include('header.ejs') %>
            <h6 class="py-2">join the courses for better future for free created by best teachers<h6>
            <p class="py-2">New here? <a href="/signup" class="text-green-600">Sign-up now</a></p>
            <p class="py-2">Already have an account? <a href="/login" class="text-green-600">Sign-in</a></p>
        </div>
    <%- include('footer.ejs') %> 
</body>
</html>